
.cart{
    width: 250px;
    margin:20px;
    padding : 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: rgb(245, 243, 243);
    box-shadow: 10px 10px 5px #aaaaaa
}

.icon{
    color: rgb(30, 130, 224);
    font-size: 1.5rem;
}
button:hover {
    background-color: rgb(5, 51, 77);
    cursor: pointer;
    
  }
